.main{
 
    height:720px;
    width: auto;
    background-image: url(sharadesert.jpg);
}
.logo{
    position: relative;
    background-size: cover;
    left: 100px;
    top: 50px;
    height:60px;
    width: 70px;
    background-image: url(logo.png);
}
nav{
    position: absolute;
    left: 1100px;
    top: 70px;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
img{
    position: absolute;
    margin-left: 20px;
    height: 30px;
    width: 30px;
}
.main1{
    display: inline-flex;
    margin-left:100px;
    margin-top: 200px;
   
}
.sahara{ 
    
    color:white;
    font-size: 100px;
    font-weight: bolder;
}
.text{
    display: flex;
    position: relative;
    top: 120px;
    left: -420px;
    height: 50px;
    width: 900px;
    display:inline-flex;
    color: white;
    transition: transform 1.5s ease;
}
.text:hover
{
    transform:translateY(-10px);
}
.explore{
    display: flex;
    position: relative;
    top: 190px;
    left:-1330px;
    height: 25px;
    padding-top:7px;
    padding-left: 30px;
    width:120px;
    font-weight: bold;
    border-radius: 50px;
    background-color: white;
}
 .main2{
    display: flex;
    position: relative;
    left:-550px;
    top: -150px;
    height: 230px;
    width: 420px;
    color: white;
 } 

 h4{
    padding-top: 20px;
}
.card1{
    
    height: 230px;
    width: 200px;
    background-image: url(pic-1.png);
    border-radius: 30px;
    transition: transform 1.5s ease;
}

.card1:hover
{
    transform:translateY(-10px);
}
.card2{
    margin-left: 20px;
    height: 230px;
    width: 200px;
    background-image: url(pic-2.png);
    border-radius: 30px;
    transition: transform 1.5s ease;
}
.card2:hover
{
    transform:translateY(-10px);
}

  .main3{
    display: flex;
    position: relative;
    top: 100px;
    left: -970px;
    height: 230px;
    width: 420px;
    color: white;
 } 
 .card3{
    
    height: 230px;
    width: 200px;
    background-image: url(pic-3.png);
    border-radius: 30px;
    transition: transform 1.5s ease;
}
.card3:hover
{
    transform:translateY(-10px);
}
.card4{
    margin-left: 20px;
    height: 230px;
    width: 200px;
    background-image: url(pic-4.png);
    border-radius: 30px;
    transition: transform 1.5s ease;
}
.card4:hover
{
    transform:translateY(-10px);
}








