.main{
    height:700px;
    width:auto;
    background-image: url( sky.jpg);
    border: 10px solid;
    border-image: linear-gradient(to right,rgb(255, 153, 51), white,green)1;
    border-image-slice: 1;
    
}
.name{
    margin-top: 30px;
    text-align: center;
}
h1{
    display: inline;
}
.sun{
    margin-top:10px;
    height:100px;
    width:110px;
    background-image: url(sun.png);
    background-size: cover;
}
.city{
    height:250px;
    background-image: url(city.png);
}

.road{
    margin-top: 0px ;
    height:200px;
    width: auto;
    background-image: url(road.jpg);
    animation:moveRoad 10s linear infinite;
}
@keyframes moveRoad{
    from { background-position-x:left; }
    to { background-position-x:right; } /* adjust speed by px value */
}

.car{
    position: absolute;
    bottom: 200px;
    left: 400px;
    height:130px;
    width:350px;
    background-size: cover;
    background-image: url(car.png);
}

.wheel1{
    position: absolute;
    left: 32px;
    top: 80px;
    height: 60px;
    width: 60px;
    background-size:cover;
    background-image:url(wheel.png);
    animation: moveWheel 2s linear infinite;
   
}
.wheel2{
    position:absolute;
    left:248px;
    top: 80px;
    height: 60px;
    width: 60px;
    background-size:cover;
    background-image:url(wheel.png);
    animation: moveWheel 2s linear infinite;
}
@keyframes moveWheel{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.flag{
    
    position:absolute;
    left: 630px;
    top: 330px;
    background-size: cover;
    height: 150px;
    width: 150px;
    background-image: url(flag.png);
}
.color{
    height:80px;
    width: auto;
    background-image: linear-gradient(to right,rgb(255, 153, 51), white ,green);
} 
