.mainBox{
    height:900px;
    width: auto;
    background-color: yellow;
}
h1{
    position:absolute;
    left:500px;
}
ol{
     position:absolute;
     left: 500px;
     top: 100px;
}
   
.box1{
    
    background-color: green;
    height: 100px;
    width: 100px;
    transition-duration: 3s;
}
.box1:hover{
    width: 300px;
}
.box2{
    
    background-color: green;
    height: 100px;
    width: 100px;
    transition-duration: 3s;
}
.box2:hover{
    width: 300px;
    height: 300px;
}
.box3{
    background-color: green;
    height: 100px;
    width: 100px;
    transition-duration: 3s;
}
.box3:hover{
    width: 300px;
}
.box4{
    background-color: green;
    height: 100px;
    width: 100px;
}
.box5{
    background-color: green;
    height: 100px;
    width: 100px;
}
.box6{
    background-color: green;
    height: 100px;
    width: 100px;
}
a{
    align-items: center;
    margin-bottom: 0px;
    margin-top:0px;
}