.offer{
    width: auto;
    height:20px;
    background-color: aqua;
    background-image:linear-gradient(to right, red ,lightgreen,yellow );
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    text-decoration:underline;
}
.card1{
    height: 100px;
    width:800px;
    position: relative;
    background-color:rgb(91, 204, 208);
    border: 2px solid red;
    border-radius: 10px;    
    font-weight: bold;
    top:10px;
    left:400px;
}
ul{
   
    display:grid;
    justify-content:center;
}
.container1{
    margin-top:40px;
    height:210px;
    width: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color:aquamarine;
}
.card2{
    position: relative;
    left: 20px;
    padding:30px;
    height:40px;
    width:340px;
    background-color: aqua;
    border: 2px solid green;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}
.card3{
    position: relative;
    left:460PX;
    top: -103px;
    padding:30px;
    height:40px;
    width:340px;
    background-color: aqua;
    border: 2px solid green;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}
.card4{
    position:relative;
    left:900px;
    top: -207px;
    padding:30px;
    height:40px;
    width:340px;
    background-color: aqua;
    border: 2px solid green;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}
.card5{
    position: relative;
    left: 440px;
    top: -205px;
    padding:30px;
    height:40px;
    width:340px;
    background-color: aqua;
    border: 2px solid green;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}
.jee{
    margin-top:25px;
    width: auto;
    height:27px;
    background-color: aqua;
    background-image:linear-gradient(to right,red,yellow, red );
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration:underline;
}
.container2{
    margin-top: 20px;
    height:200px;
    width: auto;
    background-image:radial-gradient(blue,  lightgreen,green);
    display: flex;
   
    justify-content: space-evenly;
}
.box1{
    margin-top:40px;
    left: 20px;
    padding: 20px;
    height:80px;
    width:160px;
    border: 2px solid red;
    background-color: yellow;
    border-radius: 10px;
    color: darkred;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.box2{
    margin-top:40px;
    left: 20px;
    padding: 20px;
    height:80px;
    width:160px;
    border: 2px solid red;
    background-color: yellow;
    border-radius: 10px;
    color: darkred;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.box3{
    margin-top:40px;
    left: 20px;
    padding: 20px;
    height:80px;
    width:160px;
    border: 2px solid red;
    background-color: yellow;
    border-radius: 10px;
    color: darkred;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.box4{
    margin-top:40px;
    left: 20px;
    padding: 20px;
    height:80px;
    width:160px;
    border: 2px solid red;
    background-color: yellow;
    border-radius: 10px;
    color: darkred;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}.container3{
    margin: 5px;
    height:300px;
    width: 1250px;
    border: 2px solid black;
}
.bestPlace{
    margin-top: 20px;
    height: 30px;
    width: auto;
    background-color: red;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.card6{
    position:relative;
    padding-left: 25px;
    padding-right: 25px;
    top: 30px;
    height:70px;
    width: 300px;
    background-color: lightgreen;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.card7{
    position:relative;
    top:-40px;
    left:355px;
    height:70px;
    width: 350px;
    background-color:mediumslateblue;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.card8{
    position:relative;
    top: -110px;
    left: 710px;
    height:70px;
    width: 350px;
    background-color:blue;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.card9{
    position:relative;
    
    top: -195px;
    left: 1065px;
    height:180px;
    width:150px;
    background-color: black;
     text-decoration: underline;
   
    text-align: center;
    color: white;
}
ol
{
   display: grid;
   justify-content: center;
   
  
}
.card10{
    position:relative;
    top: -300px;
    height:105px;
    width:1060px;
    background-color:orange;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.allBest{
    position: relative;
    top:-280px;
    height: 20px;
    width: auto;
    background-color:aqua;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
